In [21]:
import pandas as pd
import datetime as dt
from functools import reduce

In [12]:
#import 2019 CSVs
may19 = pd.read_csv('Resources/May_Bike_Data_19.csv')
june19 = pd.read_csv('Resources/June_Bike_Data_19.csv')
july19 = pd.read_csv('Resources/July_Bike_Data_19.csv')
aug19 = pd.read_csv('Resources/Aug_Bike_Data_19.csv')
sept19 = pd.read_csv('Resources/Sept_Bike_Data_19.csv')
oct19 = pd.read_csv('Resources/Oct_Bike_Data_19.csv')

In [18]:
may19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1

In [22]:
data_2019 = [may19, june19, july19, aug19, sept19, oct19]

full_2019_data = reduce(lambda left, right: pd.merge(left, right, how = "outer"), data_2019)

In [25]:
full_2019_data.isnull().sum()

tripduration                 0
starttime                    0
stoptime                     0
start station id           143
start station name         143
start station latitude       0
start station longitude      0
end station id             143
end station name           143
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64

In [37]:
data_2019_full = full_2019_data.dropna()
data_2019_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12786072 entries, 0 to 12786214
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 1.5+ GB

In [45]:
# data_2019_full['starttime'] = pd.to_datetime(data_2019_full['starttime'], format= '%Y-%m-%d %H:%M:%S')
data_2019_full['gender'].replace({0: 'unknown', 1: "male", 2: "female"}, inplace=True)
data_2019_full.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,male
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254.0,W 11 St & 6 Ave,40.735324,-73.998004,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,male
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244.0,University Pl & E 8 St,40.731437,-73.994903,3244.0,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,male
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526.0,E 33 St & 5 Ave,40.747659,-73.984907,474.0,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,male
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461.0,E 20 St & 2 Ave,40.735877,-73.982050,504.0,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,male

In [47]:
clean_2019_data = data_2019_full
clean_2019_data.count()

tripduration               12786072
starttime                  12786072
stoptime                   12786072
start station id           12786072
start station name         12786072
start station latitude     12786072
start station longitude    12786072
end station id             12786072
end station name           12786072
end station latitude       12786072
end station longitude      12786072
bikeid                     12786072
usertype                   12786072
birth year                 12786072
gender                     12786072
dtype: int64

In [49]:
clean_unique = clean_2019_data["starttime"].nunique()
clean_unique

12777520

In [41]:
clean_2019_data.to_csv('output/2019_citi_bike_data.csv')